<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <%= favicon_link_tag 'fav.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  function sendAjaxTestHelperRequest() {
    var request_url = 'http://localhost:3000' + $('#ajax-test-helper-url').val();
    var request_data = JSON.parse($('#ajax-test-helper-data').val());
    $.ajax({
      url: request_url,
      data: request_data,
      method: 'GET',
      success: function(data) {
        document.getElementById('ajax-helper-text-container').innerHTML = data;
      },
      error: function(data) {
        console.log(data);
      }
    });
  }

  function setAjaxHelperURL(url, options) {
    $('#ajax-test-helper-url').val(url);
    $('#ajax-test-helper-data').val(JSON.stringify(options));
    return false;
  }
  </script>
</head>
<body>
<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top">
  <div class="container" id="ajax-helper-text-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Timeline</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id="ajax-test-helper-url" class="form-control" placeholder='/'>
              <input type="text" id="ajax-test-helper-data" class="form-control" placeholder='{}'>
            </div>
            <button id="search_addresses" class="btn btn-default" onclick="sendAjaxTestHelperRequest();">Request</button>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Samples <span class="caret"></span></a>
          <ul class="ajax-helper-links dropdown-menu">
            <li><a href="#" onclick="setAjaxHelperURL('/play',{});return false;">New Game</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/match/1/advance_game',{});">Advance Game</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/match/1/player/1/action/build',{});">Build</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/match/1/player/1/action/handshake',{'causal':false,'acausal_target_frame':3});">Handshake</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="navbar-fixer">&nbsp;</div>
<div id="ajax-helper-text-container">

<%= yield %>

</div>
</body>
</html>
