<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <%= favicon_link_tag 'fav.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  function sendAjaxTestHelperRequest(request_url, request_data, request_verb) {
    $.ajax({
      url: request_url,
      data: request_data,
      method: request_verb,
      success: function(data) {
        document.getElementById('ajax-helper-text-container').innerHTML = data;
        $('.ajax-helper-links').dropdown(); //fix buggy menu
      },
      error: function(data) {
        turnContinuousRefreshOff();
        document.getElementById('ajax-helper-text-container').innerHTML = data['responseText'];
        console.log(data);
        $('.ajax-helper-links').dropdown(); //fix buggy menu
      }
    });
  }

  function getRequestUrl() {
    if(document.location.hostname == 'localhost') {
      return 'http://localhost:3001' + $('#ajax-test-helper-url').val();
    } else {
      return 'http://sheltered-river-3195.herokuapp.com' + $('#ajax-test-helper-url').val();
    }

  }

  function getRequestData() {
    return JSON.parse($('#ajax-test-helper-data').val());
  }

  function getRequestVerb() {
    return $('#ajax-test-helper-verb').val();
  }

  function setAjaxHelperURL(url, options, verb) {
    $('#ajax-test-helper-url').val(url);
    $('#ajax-test-helper-data').val(JSON.stringify(options));
    $('#ajax-test-helper-verb').val(verb.toUpperCase());
    $('#search_addresses').text(verb.toUpperCase());
    return false;
  }

  function continuouslyAdvanceGame() {
    var continuousRefresh = setInterval(function() {
      if($('#refresh-on').hasClass('active')) {
        sendAjaxTestHelperRequest('/match/1/advance_game',{},'GET');
      } else {
        clearInterval(continuousRefresh);
      }
    }, 1000);

  }

  function turnContinuousRefreshOn() {
    $('#refresh-on').addClass('active btn-success');
    $('#refresh-on').removeClass('btn-default');
    $('#refresh-off').addClass('btn-default');
    $('#refresh-off').removeClass('active btn-danger');
    continuouslyAdvanceGame();
  }

  function turnContinuousRefreshOff() {
    $('#refresh-off').addClass('active btn-danger');
    $('#refresh-off').removeClass('btn-default');
    $('#refresh-on').addClass('btn-default');
    $('#refresh-on').removeClass('active btn-success');
  }
  </script>
</head>
<body>
<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top">
  <div class="container" id="ajax-helper-text-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Timeline</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default navbar-btn" id="refresh-on" onclick="turnContinuousRefreshOn();">On</button>
            <button type="button" class="btn btn-default navbar-btn" id="refresh-off" onclick="turnContinuousRefreshOff();">Off</button>
          </div>
        </li>
        <li>
          <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id="ajax-test-helper-url" class="form-control" placeholder='/'>
              <input type="text" id="ajax-test-helper-data" class="form-control" placeholder='{}'>
              <input type="hidden" id="ajax-test-helper-verb" placeholder='GET'>
            </div>
            <button id="search_addresses" class="btn btn-default" onclick="sendAjaxTestHelperRequest(getRequestUrl(), getRequestData(), getRequestVerb());">GET</button>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Samples <span class="caret"></span></a>
          <ul class="ajax-helper-links dropdown-menu">
            <li><a href="#" onclick="setAjaxHelperURL('/match',{'user_ids':[1,2], 'map_id':1}, 'POST');return false;">New Game</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/match',{}, 'GET');return false;">Show Game</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/advance_game',{},'GET');">Advance Game</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/player/1/action/build_troop',{'actionable_type':'troop_type','actionable_id':1,'quantity':1},'POST');">Build Troop</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/player/1/action/build_tower',{'actionable_type':'tower_type','actionable_id':1,'quantity':1},'POST');">Build Tower</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/player/1/action/handshake',{},'POST');">Handshake</a></li>
            <li><a href="#" onclick="setAjaxHelperURL('/player/1/action/warp',{'causal':false,'acausal_target_frame':3},'POST');">Warp</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="navbar-fixer">&nbsp;</div>
<div id="ajax-helper-text-container">

<%= yield %>

</div>
</body>
</html>
